body {
    background-color: black;
}

.top-image {
    max-height: 30px;
    margin-left: 0px;
}

.title-heading {
    color: gray;
    font-size: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;

}

.line-break {
    color:rgb(255, 0, 0);
}

.br {
    display: block;
    margin-bottom: -10px;
}

.song-text {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
}

.song-number {
    color: gray;
    font-size: 12px;
    font-family: sans-serif;

}

.song-time {
    color: gray;
    font-size: 12px;
    font-family: sans-serif;
}

.song-artist {
    font-size: 10px;
    font-family: sans-serif;
    color: gray;
    margin-top: 0px;

.top {
    color: black;
    background-color: black;
    height: 40px;
}

body {
    font-family: sans-serif;
}

.bold {
    font-weight: bold;
    font-size: 12px;
}


#facebook {
    border: solid royalblue 2px;
    background-color: royalblue;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 10px;
    letter-spacing: 2px;
}

#apple {
    border: solid black 2px;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 10px;
    letter-spacing: 2px;
}

#email {
    width: 100%;
    margin-bottom: 10px;
}

#password {
    width: 100%
}

#login {
    border: solid #1DB954 2px;
    background-color: #1DB954;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: 10px;
    letter-spacing: 2px;
    width: 50%;

}

.rememberMee {
    font-size: 10px;
    color: lightgray;
    font-weight: bold;
}

.password {
    color: #1DB954;
    font-size: 12px;
    letter-spacing: 0.5px;
}

#sign-up {
    border: solid black 1.5px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 10px;
}

.footer {
    color: lightgray;
    font-size: 10px;
}

.green-words {
    color: #1DB954;
}